node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

.nuxt
.output
dist

.DS_Store
*.swp
*.swo
*.tmp
*.log
*.lock

.vscode
.idea

.git
.gitignore
.gitattributes

.env
.env.*
!.env.example

coverage
tests
__tests__

docker-compose*.yml
Dockerfile*
