$font-family-base: 'Fira Sans';

@import 'node_modules/bootstrap/scss/bootstrap';

.bg-smoke {
  background-color: #f4f5f7;
}

.overflow-y-auto {
  overflow-y: auto;
}

.cm-editor {
    @extend .border;
}
